---
---
//DEVNOTE: imports are relative to "sass_dir"("_sass" directory as default) in project root

@mixin font-size($value) {
  font-size: ($value / ($value * 0 + 1)) * 10 + px; // <ie9
  font-size: $value / ($value * 0 + 1) + rem;
}

@mixin list-unstyled {
  list-style: none;
  padding-left: 0;
}

.list-unstyled {
  @include list-unstyled;
}

$color__pix8-pink: 	#EC008C;
$color__pix8-lime: 	#A7C55D;

$color__white: 			#FFF;
$color__black:      #000;
$color__grey:       #333;

$theme__primary:    $color__pix8-pink;
$theme__secondary:  $color__pix8-lime;
$theme__neutral: 		#888888;

$baseFontSizeRem:   1rem;
$margin:            1em;
$padding:           6px;

/*
*
*	@title: 	main.scss
* @project: pagination-lib
* @author:	pix8
**/

@import 'fonts';
@import 'rouge-github';
@import 'core.reboot';
@import 'styles.main';
@import 'lib.pagination';
